body{
  text-align: center;
  margin: 0 auto;
  background-color: #f4ffff;
}
.top{
  background-color:  #EAF6F6 ;
  width: 100%;
  height: 600px;
}
.top-1{
  padding-top: 100px;
  color: #66bfbf;
  font-family: 'Dancing Script',sans-serif;
  font-size: 50px;

}
.top-2{
  color: #66bfbf;
}
.top-in{
  position: relative;
}
.cloud{
  position: absolute;
  top: 50px;
  right: 250px;
}
.img{
  position: absolute;
  left: 200px;
}
.me{
  width: 15%;
  border-radius: 100%;
  margin-top: 40px;
}

hr{
  border-width: 5px;
  width: 7%;
  color: gray;
  border-style: dotted none none;
}
p{
  margin-top: 5px;
  font-family: sans-serif;
}
a{
  text-decoration: none;

}
h3{
  color: #055757;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.htmlimg{
  width: 10%;
  float: left;
  margin-right: 20px;
}

.jsimg{
  width: 10%;
  border-radius: 5%;
  float: right;
  margin-right: 0px;
}
.pythonimg{
  width: 10%;
  float: left;
  margin-right: 20px;
}

.bottom{
  height: 200px;
  background-color: #d9f3f3;
  position: relative;

}
.bottom-1{
  text-align: center;
  padding-top: 170px;
  padding-bottom: 10px;
}
.icon-1{
  height: 50px;
  width: 50px;
  background-color: purple;
  position: absolute;
  top: 100px;
  left: 1205px;


}
.icon-2{
  height: 50px;
  width: 50px;
  background-color: gray;
  position: absolute;
  top: 100px;
  left: 1260px;
}
.icon-3{
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
  top: 100px;
  left: 1315px;
}
.icon-4{
  height: 50px;
  width: 50px;
  background-color: green;
  position: absolute;
  top: 100px;
  left: 1370px;
}
.pic{
  width: 100%;
  height: 50px;
}
.pic:hover{
  box-shadow: 5px 5px 5px 5px  #cccccc;
}
.bottom-left{
  height: 30px;
  width: 500px;
  position: absolute;
  top: 100px;
  left: 100px;
}
.bottom-left-1{
  height: 24px;
  width: 120px;
  background-color:  #e6e6e6;
  float: left;
  margin-left: 46px;
  border-radius: 5%;
}
.bottom-left-1:hover{
  box-shadow: 5px 5px 5px 5px  #cccccc;
}
